

.custom-centered {
    margin: 0 auto;
    width: 300px;
}

.simpleBox {
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: 0 1px 3px 0 rgba(50, 50, 93, 0.15), 0 4px 6px 0 rgba(112, 157, 199, 0.15);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.simpleBox--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.simpleBox--invalid {
    border-color: #fa755a;
}

.simpleBox--webkit-autofill {
    background-color: #fefde5 !important;
}



.subhead {
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.7))), url("../assets/img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), url("../assets/img/ilya-pavlov-OqtafYT5kTw-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

.subhead-full {
    padding: 150px 0 50px 0;
}
@media (min-width: 992px) {
    .subhead-full {
        padding: 150px 0 50px 0;
        height: 50vh;
        min-height: 25rem;
    }
}
